<div class="jumbotron">
	<!-- <%= render 'layouts/title' %> -->
</div>
	<div class="container">			
		<div class="col-md-12" align="left">
			<p>Boehringer Ingelheim are pleased welcome you to a series of educational webinar meetings. The webinars will provide continuing education and awareness on the latest developments in the treatment of asthma, with the overall aim to improve patient care.</p>
			<p>Please register or log in below.</p>
			</br/>
			<%= link_to 'Register', new_user_registration_path, class: "btn btn-danger btn-large" %>
			<%= link_to 'Login', login_path, class: "btn btn-primary btn-large" %>
			<br />
			<br />
			<p><small style="font-size: 12px;"><%= link_to "Having trouble logging in?", help_path %></small></p>
		</div>
			</div>
		</div>
	<br />
<br />

	<%= render 'layouts/prefooter' %>
